<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>Shopping</title>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/styles.css">
</head>

<body>
<nav class="navbar navbar-dark navbar-expand-md  bg-dark">
<div class="container-fluid"><a class="navbar-brand" href="/">Shiro Shop</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
<div class="collapse navbar-collapse"
id="navcol-1">
<ul class="nav navbar-nav">
<li class="nav-item" role="presentation"><a class="nav-link " id="pages" href="/admin/pages">Pages</a></li>
<li class="nav-item" role="presentation"><a class="nav-link " id="categories" href="/admin/category">Categories</a></li>
<li class="nav-item" role="presentation"><a class="nav-link " id="products" href="/admin/product">Product</a></li>
</ul>
</div>
</div>
</nav>
